/*======================
   IMAGES
========================*/
.top_img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #9ad480;
  background-image: url("../images/green2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.div1, .div2, .div3 {
  background: url("../images/office-480px.jpg") no-repeat center;
  overflow: hidden; }

.header-nav-img.price {
  background-image: url("../images/flower6.jpg"); }

.header-nav-img.contact {
  background-image: url("../images/flower5.jpg"); }

.header-nav-img.about {
  background-image: url("../images/flower8.jpg"); }

.header-nav-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }

.packages-div-1 {
  background: url("../images/flower1.jpg") center; }

.packages-div-2 {
  background: url("../images/flower2.jpg") center; }

.packages-div-3 {
  background: url("../images/flower3.jpg") center; }

.packages-div-4 {
  background: url("../images/flower4.jpg") center; }

/*======================
   NAVIGATION MENU
========================*/
nav {
  z-index: 50; }

.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.anc-menu {
  color: white;
  font-weight: 100;
  text-shadow: 0.8px 0.8px 1px #002400; }

.menu-nav {
  height: 3.5rem; }
  .menu-nav li {
    margin-top: auto;
    margin-bottom: auto; }

.mobile-menu {
  visibility: hidden; }

@media screen and (max-width: 960px) {
  .menu-nav {
    flex-direction: column; }
  .mobile-menu {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .mobile-menu-sub {
    position: relative;
    left: -1em;
    top: 23rem;
    margin: 0;
    padding: 2rem 0 2rem 5rem;
    z-index: 1; } }

@media screen and (max-width: 960px) {
  .hide {
    visibility: hidden;
    transform: rotateX(90deg);
    transform-origin: 50% 0;
    transition: .3s; }
  .hover-show:hover .mobile-menu {
    display: none; }
  .hover-show:hover .hide {
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transform: rotateX(0);
    background: rgba(154, 212, 128, 0.8); } }

.packages-div-1, .packages-op {
  height: 30rem; }

.packages-div-1 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .packages-div-1 h4 {
    margin-top: 7em;
    text-align: center;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    z-index: 15; }
    @media screen and (max-width: 960px) {
      .packages-div-1 h4 {
        margin-top: 3em;
        position: relative;
        z-index: 20;
        color: black;
        text-shadow: 0.5px 0.5px 1px white; } }

.packages-div-1:hover .packages-op {
  opacity: 1;
  transition: opacity .4s ease-in-out; }

.packages-div-1:hover h4 {
  opacity: 0; }

@media screen and (max-width: 960px) {
  .packages-div-1:hover h4 {
    opacity: 1; } }

.packages-div-2, .packages-op {
  height: 30rem; }

.packages-div-2 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .packages-div-2 h4 {
    margin-top: 7em;
    text-align: center;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    z-index: 15; }
    @media screen and (max-width: 960px) {
      .packages-div-2 h4 {
        margin-top: 3em;
        position: relative;
        z-index: 20;
        color: black;
        text-shadow: 0.5px 0.5px 1px white; } }

.packages-div-2:hover .packages-op {
  opacity: 1;
  transition: opacity .4s ease-in-out; }

.packages-div-2:hover h4 {
  opacity: 0; }

@media screen and (max-width: 960px) {
  .packages-div-2:hover h4 {
    opacity: 1; } }

.packages-div-3, .packages-op {
  height: 30rem; }

.packages-div-3 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .packages-div-3 h4 {
    margin-top: 7em;
    text-align: center;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    z-index: 15; }
    @media screen and (max-width: 960px) {
      .packages-div-3 h4 {
        margin-top: 3em;
        position: relative;
        z-index: 20;
        color: black;
        text-shadow: 0.5px 0.5px 1px white; } }

.packages-div-3:hover .packages-op {
  opacity: 1;
  transition: opacity .4s ease-in-out; }

.packages-div-3:hover h4 {
  opacity: 0; }

@media screen and (max-width: 960px) {
  .packages-div-3:hover h4 {
    opacity: 1; } }

.packages-div-4, .packages-op {
  height: 30rem; }

.packages-div-4 {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .packages-div-4 h4 {
    margin-top: 7em;
    text-align: center;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    z-index: 15; }
    @media screen and (max-width: 960px) {
      .packages-div-4 h4 {
        margin-top: 3em;
        position: relative;
        z-index: 20;
        color: black;
        text-shadow: 0.5px 0.5px 1px white; } }

.packages-div-4:hover .packages-op {
  opacity: 1;
  transition: opacity .4s ease-in-out; }

.packages-div-4:hover h4 {
  opacity: 0; }

@media screen and (max-width: 960px) {
  .packages-div-4:hover h4 {
    opacity: 1; } }

.packages-op {
  background: rgba(154, 212, 128, 0.9);
  z-index: 5;
  position: relative;
  bottom: 27.1em;
  opacity: 0; }
  .packages-op p {
    font-size: 1.8rem;
    z-index: 10;
    padding: 2em 1em;
    line-height: 2.4rem;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black; }

@media screen and (max-width: 960px) {
  .packages-op {
    opacity: 1;
    background: rgba(154, 212, 128, 0.6);
    bottom: 15.6em; }
    .packages-op p {
      padding-top: 5em; } }

.price-list > div {
  font-size: 1.8rem; }

form {
  font-size: 2.2rem; }

input:not([type="submit"]) {
  border: none;
  border-bottom: 0.5px solid #969696;
  padding-left: 1%;
  font-family: "Dosis", sans-serif; }

input[type="submit"] {
  font-size: 1.8rem;
  font-family: "Dosis", sans-serif; }

/*======================
   FOOTER
========================*/
footer {
  text-align: center;
  background-color: #9ad480;
  font-size: 1.8rem;
  color: #002400;
  line-height: 3em;
  margin: 5rem 0 0 0; }

@media screen and (max-width: 960px) {
  footer {
    font-size: 1.2rem; } }

/*======================
   PAGE HEAD
========================*/
.top_img.flex_container {
  flex-direction: column;
  justify-content: center; }

.top-title {
  font-family: "Alice", serif;
  display: block;
  margin: 5em 0 0 2rem;
  text-shadow: 1px 1px 2px #002400; }

@media screen and (max-width: 960px) {
  .top-title {
    font-size: 3.6rem;
    line-height: 5rem;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0; } }

.head {
  height: 35rem;
  width: 100%; }

.page-title {
  position: relative;
  top: -3em;
  padding-left: 1em;
  color: white;
  text-shadow: 0.5px 0.5px 1px black; }

@media screen and (max-width: 960px) {
  .page-title {
    padding: 0;
    text-align: center; } }

html, body, .index-header {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-weight: 200;
  font-family: "Dosis", sans-serif; }

header {
  color: #fff; }

table {
  font-size: 1.8rem; }

div {
  margin: 0; }

h1 {
  font-size: 4.8rem;
  font-weight: 400;
  margin: 0; }

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 3.6rem;
  font-weight: 300; }

h3, p {
  font-family: "Dosis", sans-serif;
  font-size: 2.4rem; }

p {
  line-height: 3.2rem; }

h4 {
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem; }

nav {
  position: absolute;
  top: 0;
  width: 100%; }

a {
  text-decoration: none; }

li {
  display: inline-block;
  list-style: none;
  font-size: 2.4rem;
  padding: 1rem 3rem;
  margin: 0 2rem; }

@media screen and (max-width: 960px) {
  li {
    padding-top: 3rem; } }

/*======================
   PAGE MAIN
========================*/
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .flex_container .op > p {
    padding: 1rem;
    display: inline-block;
    z-index: 3;
    line-height: 2.8rem;
    position: relative;
    color: #fff;
    font-weight: 400;
    top: 5rem; }

.parent-div {
  height: auto;
  margin: 0 0 5em 0; }

.op, .div1, .div2, .div3 {
  font-size: 2.4rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle; }

.op {
  background-color: rgba(120, 217, 200, 0.6);
  transition: .3s;
  opacity: 0;
  z-index: 4; }

@media screen and (max-width: 960px) {
  .op {
    border-radius: 0;
    opacity: 1; }
    .op p {
      text-shadow: 0.5px 0.5px 1px black; } }

.section-title {
  font-size: 2.4rem;
  padding: 0.5rem 2rem;
  line-height: 4rem; }

@media screen and (max-width: 960px) {
  .section-title {
    text-align: center;
    margin-top: 4rem; } }

.div2:hover .op, .div3:hover .op, .div1:hover .op {
  opacity: 1; }

.div1, .div2, .div3 {
  position: relative; }

.div1 {
  left: -7rem; }

.div2 {
  left: 0; }

.div3 {
  right: -7rem; }

@media screen and (max-width: 960px) {
  .flex_container {
    flex-direction: column; }
    .flex_container .div1, .flex_container .div2, .flex_container .div3 {
      border-radius: 0;
      margin: 2rem auto; }
  .div1, .div2, .div3 {
    position: relative; }
  .div1 {
    left: 0; }
  .div3 {
    right: 0; } }

.text-black {
  color: #272727; }
