//COLOR
$pink: #e65f68;
$white: #ffffff;
$light-green: #78d9c8;

//FONT SIZE
$font-ll: 4.8rem;
$font-l: 3.6rem;
$font-m: 2.4rem;
$font-s: 1.8rem;

//FONT STYLE
$courgette:'Courgette', cursive;

//MEDIA QUERY
$tablet: 960px;