@import "partials/variables";
@import "partials/img";
@import "partials/mixin";
@import "partials/nav";
@import "partials/price";
@import "partials/contact";
@import "partials/footer";
@import "partials/header";
    
html, body, .index-header {
    width: 100%;
    height: 100%;
    font-size:62.5%;
    font-weight: 200;
    font-family: $sans-serif;
}

header {
    color: $white;
}

table {
    font-size: $font-s;
}

div {
    margin: 0;
}

h1 {
    font-size: $font-ll;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: $sans-serif;
    font-size: $font-l;
    font-weight: 300;
}

h3, p {
    font-family: $sans-serif;
    font-size: $font-m;
}

p {
    line-height: 3.2rem;
}

h4{
    font-family: $sans-serif;
    font-size: $font-s;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}


a {
    text-decoration: none;
}

li {
    display: inline-block;
    list-style: none;
    font-size: $font-m;
    padding: 1rem 3rem;
    margin: 0 2rem;
}

@include screen-max($tablet){
    li {
        padding-top: 3rem;
    }
}

/*======================
   PAGE MAIN
========================*/

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .op > p {
            padding: 1rem;
            display: inline-block;
            z-index: 3;
            line-height: 2.8rem;
            position: relative;
            color: $white;
            font-weight: 400;
            top: 5rem;
    }
}

.parent-div {
    height: auto;
    margin: 0 0 5em 0;
}

.op, .div1, .div2, .div3 {
    font-size: $font-m;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.op {
    background-color:  rgba(120, 217, 200, 0.6);
    transition: .3s;
	opacity: 0;
    z-index: 4;
}

@include screen-max($tablet){
    .op {
        border-radius: 0;
        opacity: 1;
        p{
            @include text-shadow;
        }
    }
}

.section-title {
    font-size: $font-m;
    padding: 0.5rem 2rem;
    line-height:4rem;
}
@include screen-max($tablet){
    .section-title {
        text-align: center;
        margin-top: 4rem;
    }
}

.div2:hover .op, .div3:hover .op, .div1:hover .op {
    opacity: 1;
}

.div1, .div2, .div3 {
    position: relative;
}

.div1 {
    left: -7rem;
}

.div2 {
    left: 0;
}

.div3 {
    right: -7rem;
}

@include screen-max($tablet){
    .flex_container {
        flex-direction: column;
        .div1, .div2, .div3 {
            border-radius: 0;
            margin: 2rem auto;
        }
    }
    .div1, .div2, .div3 {
        position: relative;
    }
    .div1 {
        left: 0;
    }

    .div3 {
        right: 0;
    }
}

.text-black {
    color: $black;
}
