/*======================
   PAGE HEAD
========================*/

.top_img.flex_container{

    flex-direction: column;
    justify-content: center;
}
    
.top-title {
    font-family: $courgette;
    display: block;
    margin: 25rem 0 0 2rem;
    text-shadow: 1px 1px 2px $dark-green;
}

@include screen-max($tablet){
    .top-title {
        font-size: $font-l;
        line-height: 5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}