//COLOR
$main-color: #9ad480;
$white: #fff;
$link: #489000;
$dark-green:  #002400;
$light-green: #b6cb54;
$black: #272727;

//FONT SIZE
$font-ll: 4.8rem;
$font-l: 3.6rem;
$font-m: 2.4rem;
$font-s: 1.8rem;

//FONT STYLE
$serif:'Alice', serif;
$sans-serif: 'Dosis', sans-serif;

//MEDIA QUERY
$tablet: 960px;
$mobile: 420px;